@model PersonalWeb.DataLayer.Entity.User
<div style="direction: ltr; padding: 20px">
    <h2>You have new Project Request!!!</h2>
    <p>@Model.Name @Model.Family</p>
    <p>@Model.Email</p>
    <p>@Model.MobileNumber</p>
    <p>@Model.ProjectDescription</p>
</div>